<template>
  <ul>
    <li>
      <span>{{data.text}}</span>
      <button v-if="data.children.length > 0" value="0" v-on:click="() => toggleMenu()">^</button>
      <ul v-if="data.children.length > 0" v-bind:class="{ hidden:  hideChildren }">
        <li v-for="d in data.children" v-bind:key="d.text">
          {{ d.text }}
        </li>
      </ul>
    </li>
  </ul>
</template>
<script>
  import LinkMenu from './index.js'
  export default LinkMenu
</script>
<style>
.hidden {
  height: 0;
  overflow: hidden;
  display: none;
}
</style>