<template>
  <section>
    <section class="title-logo">
      <h1>AL</h1>
      <button v-on:click="toggleMainMenu">
        <span v-if="hideMainMenu">&#9776;</span>
        <span v-if="!hideMainMenu">x</span>        
      </button>
    </section>
    <section class="sub-title">
      <span>Hello</span>
    </section>
    <ul class="menu-bar">
      <li>
        <span class="menu-image"></span>
        <span>M S B</span>
        <button value="msb" v-on:click="methodA">></button>
      </li>
      <li>
        <span class="menu-image"></span>
        <span>S A F</span>
        <button value="saf" v-on:click="methodA">></button>
      </li>
      <li>
        <span class="menu-image"></span>
        <span>T</span>
      </li>
      <li>
        <span class="menu-image"></span>
        <span>ADMIN</span>
        <button value="admin" v-on:click="methodA">></button>
      </li>
      <li>
        <span class="menu-image"></span>
        <span>C B</span>
        <button value="cb" v-on:click="methodA">></button>
      </li>
      <li>
        <span class="menu-image"></span>
        <span>HTLS</span>
      </li>
      <li>
        <span class="menu-image"></span>
        <span>MY B</span>
      </li>
      <li>
        <span class="menu-image"></span>
        <span>REC</span>
      </li>
      <li>
        <span class="menu-image"></span>
        <span>M L T</span>
      </li>
    </ul>
    <!--<HelloWorld msg="a"></HelloWorld>-->
    <!--{{ab}}-->
    <ul>
      <li class="menu-item" id="msb">
        <span>M S B</span>
        <button v-on:click="hideMenuItem">X</button>
        <LinkMenu v-bind:data="menuData.linkMenus.ac"></LinkMenu>
      </li>
      <li class="menu-item" id="saf">
        <span>SAF</span>
        <button v-on:click="hideMenuItem">X</button>
        <LinkMenu v-bind:data="menuData.linkMenus.report"></LinkMenu>
        <LinkMenu v-bind:data="menuData.linkMenus.ac"></LinkMenu>
        <LinkMenu v-bind:data="menuData.linkMenus.kc"></LinkMenu>
        <LinkMenu v-bind:data="menuData.linkMenus.psds"></LinkMenu>
      </li>
      <li class="menu-item" id="admin">
        <span>ADMIN</span>
        <button v-on:click="hideMenuItem">X</button>
        <LinkMenu v-bind:data="menuData.linkMenus.oji"></LinkMenu>
        <LinkMenu v-bind:data="menuData.linkMenus.pay"></LinkMenu>
        <LinkMenu v-bind:data="menuData.linkMenus.per"></LinkMenu>
        <LinkMenu v-bind:data="menuData.linkMenus.irdir"></LinkMenu>
        <LinkMenu v-bind:data="menuData.linkMenus.mandw"></LinkMenu>
        <LinkMenu v-bind:data="menuData.linkMenus.afa"></LinkMenu>
      </li>
      <li class="menu-item" id="cb">
        <span>C B</span>
        <button v-on:click="hideMenuItem">X</button>
        <LinkMenu v-bind:data="menuData.linkMenus.report"></LinkMenu>
      </li>
    </ul>

    <section class="frame"></section>

  </section>
</template>
<script>
  import LinkMenu from './components/LinkMenu/index.vue'
  import App from './app.js'
  import './app.css'

  export default App
</script>