.frame {
  background: white;
  position: absolute;
  left: 360px;
  top: 0;
  width: 360px;
  height: 600px;
}
section ul li.view-pos {
  position: absolute;
  display: block;
  left: 40px;
  transition: left 1s;
  visibility: visible;
}
.title-logo {
  display: flex;
  justify-content: space-between;
  background: blue;
  color: white;
  font-weight: 900;
  padding: 6px 0;
  width: 360px;
  height: 40px;
}
.title-logo h1 {
  margin: 0 13px;
  padding-top: 6px;;
}
.title-logo button{
  font-size: 2em;
  font-weight: 900;
  background: blue;
  color: white;
  margin: 0;
  border: 0;
}
.sub-title {
  background: darkblue;
  height: 60px;
  color: white;
  width: 360px;
}
.sub-title span{
  padding: 12px;
}

ul.menu-bar {
  position: fixed;
  margin: 0;
  padding: 0; 
  display: none;
  flex-direction: column;
  top: 100px;
  left: 0;
  width: 360px;
  /*border: 1px solid red;*/
  background: blue;
  list-style: none;
  font-weight: 900;
  color: white;
}
ul.menu-bar li{
  border-bottom: 1px solid lightblue;
  height: 40px;
  width: 360px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
ul.menu-bar span{
  margin-left: 10px;
}
ul.menu-bar li span.menu-image{
  width: 30px;
  height: 30px;
  margin-left: 3px;
  background: gray;
}

ul.menu-bar li button {
  position: absolute;
  right:0;
  height: 40px;
  width: 40px;
  background: dodgerblue;
  color: white;
  border-width: 0;
  padding: 0;
  align-self: flex-end;
}
section li.menu-item {
  /*display: none;*/
  /*visibility: hidden;*/

  position: absolute;
  top: 100px;
  left: 360px;
  overflow: hidden;
  width: 320px;
  height: 370px;
  background: blue;
  color: white;
  font-weight: 900;
  transition: left 0.5s;

}
section li.menu-item  > span{
  padding: 10px;
  background: blue;
  display: block;
  height: 22px;
}
section li.menu-item ul li{
  padding: 10px;
  background: blue;
}
section li.menu-item ul li button{
  position: absolute;
  right: 0;
  padding: 13px;
  border: 0;
  margin: 0;
  background: blue;
  color: white;
  font-weight: 900;
}

section li.menu-item  > button{
  position: absolute;
  top: 0;
  right: 0px;
  margin: 0;
  border: 0;
  padding: 12px;
  height: 30px;
  overflow: hidden;
  background: blue;
  color: white;
  font-weight: 900;
}
section li.menu-item ul {
  padding: 0px;
  font-weight: 200;
}
section li.menu-item ul li ul li{
  padding: 10px;
  background: lightblue;
  font-weight: 100;
  color: black;
  list-style: none;
}
